@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 90px;
  height: 14px;
  --c:#000 92%,#0000;
  background: 
    radial-gradient(circle closest-side,var(--c)) calc(100%/-4) 0,
    radial-gradient(circle closest-side,var(--c)) calc(100%/4)  0;
  background-size:calc(100%/2) 100%;
  animation: l14 1.5s infinite;
}
@keyframes l14 {
    0%   {background-position: calc(100%/-4) 0    ,calc(100%/4) 0}
    50%  {background-position: calc(100%/-4) -14px,calc(100%/4) 14px}
    100% {background-position: calc(100%/4)  -14px,calc(3*100%/4) 14px}
}

.react-tabs {
  width: 100% !important;
}
.react-tabs__tab-list {
  border-color: var(--color-blue-500) !important;
}

.react-tabs__tab--selected {
  background-color: var(--color-blue-500) !important;
  color: var(--color-white) !important;
  border: none !important;
  border-radius: 0 !important;
}